.app-title{
font-family: Playball;
}

nav{
min-height: 10vh !important;
}

footer{
min-height: 10vh !important;
}

.sidebar{ 
    min-height: 80vh !important;
    height: 100%;
    overflow-y: scroll;
    background-image: linear-gradient(-180deg, #3D4E81 0%, #5753C9 48%, #3D4E81 100%);
}

.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.pagination{
z-index: 0!important;
}

.bg-footer{
    background-image: linear-gradient(-225deg, #3D4E81 25%, #5753C9 60%, #6E7FF3 100%);
}

.bg-nav{
    background-image: linear-gradient(-225deg, #3D4E81 25%, #5753C9 60%, #6E7FF3 100%);
}
